.qtyCol {
    width: 100px;
    text-align: center !important;
    white-space: normal !important;
}

.productCol {
    white-space: normal !important;
}

.wtyCol {
    width: 100px;
    text-align: center;
}

.rtnAmtCol {
    width: 125px;
    white-space: normal !important;
    text-align: center !important;
}

.selectedCol {
    width: 100px;
    text-align: center !important;
}